### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# IDE directories
.idea/
*.iml
*.iws

# Maven target directory
target/
dependency-reduced-pom.xml

# Maven local repository
.m2/

# Ignore generated gRPC code
generated/
python_client/generated

#python
*.pyc

# other
*.log
*.tmp

# local config file with api keys
src/main/resources/config.properties
