# General configuration
server.port=50052
feature.vectordb.enabled=false

# Provider Configurations
# OpenAI provider configuration
openai.api_key=<your-api-key>
openai.chat_url=https://api.openai.com/v1/chat/completions
openai.embedding_url=https://api.openai.com/v1/embeddings
openai.default_lm_model=gpt-4o-mini
openai.default_embedding_model=text-embedding-ada-002

# Google provider configuration
google.project_id=<your-project-id>
#google.api_key=<your-api-key>
google.location=us-central1
google.chat_url=https://generativelanguage.googleapis.com/v1beta/models/
google.embedding_url=https://ml.googleapis.com/v1/models
google.default_lm_model=gemini-1.5-flash-001
google.default_embedding_model=

# Grok provider configuration
grok.api_key=<your-api-key>
grok.chat_url=https://api.x.ai/v1/chat/completions
grok.embedding_url=https://api.x.ai/v1/embeddings
grok.default_lm_model=grok-beta
grok.default_embedding_model=

# Vector DB Providers
milvus.host=127.0.0.1
milvus.port=19530

